/* -------- Drinks Container CSS -------- */
.drinks-container h1 {
    font-size: 5vw;
    text-align: center;
    margin: 100px 0;
    text-shadow: 2px 2px 2px var(--white);
}

.inter-drink {
    width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drink {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 180px;
    padding: 5px;
    margin: 10px 20px;
    background-color: var(--dark-lavender);
    border: 1px solid var(--purple);
    border-radius: 8px;
    font-weight: 600;
}

.drink-img img {
    width: 100px;
    height: 160px;
    margin: auto auto;
}

.drink-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.drink-name {
    font-size: 20px;
    font-weight: 500;
    padding: 2px;
    margin: 10px 8px;
    background-color: #f0f0f0;
    border: 2px solid var(--purple);
    border-radius: 5px;
}

.drink-cost {
    display: flex;
    justify-content: center;
    margin: auto auto;
}

.drink-cost input {
    width: 50%;
    height: 22px;
    padding: 5px 10px;
    margin: 0 10px;
    border: 2px solid var(--purple);
    border-radius: 5px;
}

.drink-text button {
    height: 30px;
    margin: 8px 8px 0 8px;
    border: 2px solid var(--purple);
    border-radius: 5px;
}

/* -------- Go To Cart Button CSS -------- */
.checkout-section {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.checkout-section a {
    padding: 10px 40px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    box-shadow: 2px 2px 2px var(--white);
    border-radius: 20px;
    transition-duration: 200ms;
}

.checkout-section a:hover {
    background-color: var(--dark-lavender);
}

/* -------- Remove from Cart Overlay */

.remove-from-cart-overlay {
    position: fixed;
    opacity: 0;
    left: -100px;
    bottom: 100px;
    width: 300px;
    margin: auto auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--black);
    border-right: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 4px;
    transition-duration: 300ms;
}

.remove-from-cart-overlay.show {
    left: 50px;
    opacity: 1;
}

@media (max-width: 500px) {
    .checkout-section a {
        padding: 10px 20px;
    }

    .checkout-section a {
        font-size: 12px;
    }
}