/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --purple: #622a95;
    --dark-lavender: #9471f1;
    --lavander: #c8b3f6;
    --light-lavender: #f5f1ff;
    --white: #ffffff;
}

/* -------- Font face import -------- */
@font-face {
    font-family: Poppins;
    src: url(../font/NovaRound-Regular.ttf);
}


/* -------- Reset all web parameters -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, 
    var(--white) 0%, 
    var(--white) 50%, 
    var(--purple) 50%, 
    var(--purple) 100%);
}

.box {
    width: 90vw;
    margin: auto auto;
    margin-top: 5vh;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-image: linear-gradient(45deg, #9471f1, #c8b3f6, #f5f1ff);
}

hr {
    width: 60vw;
    margin: auto auto;
    border: 1px solid var(--lavander);
    border-radius: 10px;
}

/* -------- Main Section CSS -------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.main {
    height: 80vh;
}

.purple {
    color: var(--purple);
}

.main-margin {
    margin: 100px auto;
}

/* -------- Main Section CSS --------  */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-text {
    width: 40vw;
    margin-right: 100px;
}

.main-text h1 {
    font-size: 7vw;
    text-shadow: 2px 2px 2px var(--white);
}

.main-text p {
    margin-top: 10px;
    font-size: 16px;
}

.main-img img {
    width: 20vw;
    margin-left: 5vw;
}

/* -------- Offerings Section CSS -------- */
.offerings {
    margin: 100px 0;
}

.offerings-list {
    padding: 50px;
    width: 60vw;
    margin: auto auto;
}

.offerings-list li a {
    color: var(--white);
}

.offerings h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: 2px 2px 2px var(--white);
}

.offerings-list h3 {
    font-size: 30px;
}

.offerings-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.offerings-button a:hover {
    background-color: var(--dark-lavender);
}

.offerings-button a {
    padding: 10px 100px;
    box-shadow: 2px 2px 2px var(--white);
    color: var(--light-lavender);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 50px;
    transition-duration: 200ms;
}

.category {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 20px 0px;
}

.category li {
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px var(--white);
    font-size: 14px;
    color: var(--light-lavender);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 20px;
    transition-duration: 200ms;
}

.category li:hover {
    background-color: var(--dark-lavender);
}

/* -------- Contact Section CSS --------- */
.contact {
    margin: 100px 0;
}

.contact-form {
    width: 350px;
    margin: auto auto;
}

.contact h1 {
    text-align: center;
    font-size: 5vw;
    text-shadow: 2px 2px 2px var(--white);
    margin: 50px;
}

.contact-form form {
    width: 100%;
}

form p {
    margin-top: 10px;
}

form input, form textarea {
    margin: 2px 0;
    width: 100%;
    resize: none;
    background-color: var(--light-lavender);
    border: 1px solid var(--purple);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--white);
}

form input {
    height: 30px;
}

.submit-button {
    width: 100%;
    height: 35px;
    margin: 20px 0 0 0;
    box-shadow: 2px 2px 2px var(--white);
    background-color: var(--purple);
    border: 1px solid var(--purple);
    border-radius: 5px;
    transition-duration: 200ms;
}

.submit-button a {
    color: var(--light-lavender);
}

.submit-button:hover {
    background-color: var(--dark-lavender);
}

/* -------- Footer Section CSS --------- */
footer {
    height: 100px;
    text-align: center;
}

footer p {
    margin: 20px;
    font-weight: 500;
}

.copyright-icon {
    font-size: 20px;
}

@media (max-width: 1000px) {
    .main {
        height: 60vh;
    }

    .main-text {
        margin-right: 50px;
    }

    .main-img img {
        width: 30vw;
    }

    .offerings-list {
        width: 80vw;
    }

    .offerings h1 {
        font-size: 7vw;
    }
}

@media (max-width: 600px) {
    .main {
        height: 80vh;
        flex-direction: column-reverse;
    }

    .main-text {
        width: 100%;
        text-align: center;
        margin-right: 0px;
    }

    .main-text h1 {
        font-size: 10vw;
    }

    .main-text p {
        padding: 10px 40px;
        font-size: 16px;
    }

    .main-img img {
        width: 45vw;
    }

    .offerings-list {
        width: 98vw;
    }

    .offerings h1 {
        font-size: 10vw;
    }

    .offerings-button a {
        font-size: 12px;
        padding: 10px 18vw;
    }

    .contact-form {
        width: 70vw;
    }

    form p {
        font-size: 14px;
    }

    footer {
        font-size: 10px;
    }

    .copyright-icon {
        font-size: 15px;
        font-weight: 500;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: var(--off-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
}