/* -------- Variable CSS --------*/
:root {
    --black: #000000;
    --purple: #622a95;
    --dark-lavender: #9471f1;
    --lavander: #c8b3f6;
    --light-lavender: #f5f1ff;
    --white: #ffffff;
}

/* Font face import */
@font-face {
    font-family: Poppins;
    src: url(../font/NovaRound-Regular.ttf);
}


/* Reset all web parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* <======== Main Section CSS ========> */

.nav {
    position: sticky;
    top: 0;
    background-color: #00000001;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.main {
    height: 80vh;
}

body {
    background: linear-gradient(to right, 
    var(--white) 0%, 
    var(--white) 50%, 
    var(--purple) 50%, 
    var(--purple) 100%);
}

.purple {
    color: var(--purple);
}

.box {
    width: 90vw;
    margin: auto auto;
    margin-top: 5vh;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    /* padding: 20px 50px; */
    background-image: linear-gradient(45deg, #9471f1, #c8b3f6, #f5f1ff);
}

/* -------- Main Section CSS --------  */
.main {
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-text {
    width: 40vw;
    margin-right: 100px;
}

.main-text h1 {
    font-size: 7vw;
    text-shadow: 2px 2px 2px var(--white);
}

.main-text p {
    margin-top: 10px;
    font-size: 16px;
}

.main-img img {
    width: 20vw;
    margin-left: 5vw;
}

.offerings-list {
    padding: 50px;
    width: 80vw;
    margin: auto auto;
}

.offerings h1 {
    text-align: center;
    font-size: 5vw;
    margin: 50px;
}



@media (max-width: 1000px) {
    .main {
        height: 60vh;
    }

    .main-text {
        margin-right: 50px;
    }

    .main-text h1 {
        /* font-size: 6.5vw; */
    }

    .main-img img {
        width: 30vw;
    }

    .offerings h1 {
        font-size: 7vw;
    }
}

@media (max-width: 600px) {
    .main {
        height: 80vh;
        flex-direction: column-reverse;
    }

    .main-text {
        width: 100%;
        text-align: center;
        margin-right: 0px;
    }

    .main-text h1 {
        font-size: 10vw;
    }

    .main-text p {
        padding: 10px 40px;
        font-size: 16px;
    }

    .main-img img {
        width: 45vw;
    }

    .offerings h1 {
        font-size: 10vw;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: var(--off-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
}